---
import Layout from '../layouts/Layout.astro'
import Quiz from '../Quiz.svelte'
import attendees from '../attendees.json'
---

<Layout title="WordCamp US 2022 Faces">
	<div class="text-center">
		<h1 class="text-2xl text-gray-900">
			WordCamp US 2022 Faces
		</h1>

		<p class="text-gray-500">Quiz yourself and learn people’s faces!</p>

		<Quiz {attendees} client:load />
	</div>
</Layout>