---
export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<meta name="twitter:card" content="summary" />
		<meta name="twitter:site" content="@markjaquith" />
		<meta name="twitter:title" content="Learn the Faces of WordCamp US 2022" />
		<meta name="twitter:description" content="It's been a long time since we've done this. This tool will help you learn the names of the people you're going to see in San Diego." />
		<meta name="twitter:image" content="https://wordcamp-faces.pages.dev/twitter-card.jpg" />
	</head>
	<body>
		<main class="container mx-auto my-4">
			<slot />
		</main>
	</body>
</html>